*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .nav-link.active {
  color: #ffc107 !important; 
  font-weight: bold;
}
.nav-link:hover {
  color: #f8f9fa !important;
}


